* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    height:100%;
    color:#333333;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 32px;
    color: #888;
    margin-bottom:1.5em;
}

a {
    color:#333333;
    transition: ease-out color 0.25s
}

a.instagram:hover {
    color:#DD2A7B;
}

a.github:hover {
    color:#812b80;
}

a.linkedin:hover {
    color:#0077b5;
}

.panel {
    width:100%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding:50px;
}

.panel-highlight {
    background:#efefef;
}

.centered-content {
    display: block;
}

.social-icon {
    font-size:32px;
    margin-right:10px;
}